html, body {
  font-family: 'Lato', sans-serif display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

#header-logo {
  height: 40px;
  margin: 12px 6px 12px 6px;
  width: auto;
}
