<ul id="dropdown1" class="dropdown-content">
  <li><a href=""><i class="material-icons">account_circle</i>Profile</a></li>
  <li class="divider"></li>
  <li><a href=""><i class="material-icons">settings_power</i>LogOut</a></li>
</ul>
<div class="navbar-fixed">
  <nav class="color white">
    <div class="nav-wrapper container">
      <a href="/home" class="black-text darken-4 brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="black-text darken-4" href="">About</a></li>
        <li>
          <a class="black-text darken-4" href="">Login</a>
        </li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button black-text darken-4" href="" data-activates="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>
